body{
    background: #233
}

.box{
    width: 300px;
    height: 300px;
    border: 4px solid white;
    background-color: indigo;
    /* Definir la transicion del elemento
       cuanto dura y de que manera ocurre 
    transition: background 1s linear;
    animation-name: change-color;
    animation-duration: 5s; 
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
        la animacion puede iterar una cantidad
        especifica de veces, o infinito si asi
        se especifica 
    animation-fill-mode:none;
        animation fill se encarga de determinar
        el comportamiento de la animacion al
        terminar, fowards causa que el elemento
        se quede en el ultimo estado de animacion
        backwards causa que regrese al origen,
        backwards sostiene los valores del primer
        estado mientras exista delay, both hace
        ambos y none causa que no se aplique
        ningun efecto (es el por defecto) 
    animation-direction: alternate;
    /*
        con esto se puede definir
        la direccion de la animacion
        reverse la invierte, ambos
        alternate causa que una vez
        acaba, la animacion se
        reproduce en reversa para
        crear un bucle, en reverse
        se alterna pero al reves
    */
    animation:
    /*
        es posible describir animaciones de una
        sola pasada y varias para su ejecucion
        en simultaneo
    */
        change-color 2.5s infinite linear alternate,
        move-box 2.5s infinite linear alternate 2.5s;
}

/*
CUANDO EL MOUSE SE POSA ENCIMA
.box:hover{
    background: red;
}
MIENTRAS SE MANTIENE CLIQUEADO SOBRE EL OBJETO
.box:active{
    background: red;
}
*/

@keyframes change-color{
    /*
    En este caso especificamos el color base en la
    clase, asique es redundante el from
    from{
        background: indigo;
    }

    to{
        background: red;
    }

    0%{
        background: indigo;
    }

    50%{
        background: red;
        width: 100px;
           no cada estado toma las propiedades
           base de la clase o id, por ende
           en el resto de estados sin width
           especificado, regresa a la medicion
           original 
    }

    100%{
        background: indigo;
    }*/

    0%{
        background: indigo;
    }

    100%{
        background: red;
    }
}


@keyframes move-box{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(200px);
    }
}